@keyframes moveinleft {
    0% {
      opacity: 0;
      transform: translateX(-5rem); }
    80% { }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  @keyframes moveinright {
    0% {
      opacity: 0;
      transform: translateX(5rem); }
    80% { }
    100% {
      opacity: 1;
      transform: translate(o); } }
  
  @keyframes moveinbottom {
    0% {
      opacity: 4;
      transform: translatey(3rem); }
    100% {
      opacity: 1;
      transform: translate(o); } }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding: 1rem;
    color: whitesmoke;
}
.header {
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(85, 197, 118, 0.1), rgba(126, 213, 111, 0.2), rgba(40, 180, 133, 0.3)), url("./images/glass.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    color: darkslategrey;
    }
   
  .head-center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  
    .heading-primary-main {
        display: block;
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 2.1rem;
        animation-name: moveinleft;
        animation-duration: 4s;
    }
.feature-box {
 height: 50vh;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box1{
    background-image: linear-gradient(to right bottom,rgba(85, 197, 118, 0.1), rgba(126, 213, 111, 0.2), rgba(40, 180, 133, 0.3) ), url("images/seed-1.jpg");
    background-position: center;
    background-size: cover;
  }
  .feature-box2{
    background-image: linear-gradient(to right bottom,rgba(85, 197, 118, 0.1), rgba(126, 213, 111, 0.2), rgba(40, 180, 133, 0.3) ), url("images/electronic.jpg");
    background-position: center;
    background-size: cover;
  }
  .feature-box3{
    background-image: linear-gradient(to right bottom,rgba(85, 197, 118, 0.1), rgba(126, 213, 111, 0.2), rgba(40, 180, 133, 0.3) ), url("images/lifestock.jpg");
    background-position: center;
    background-size: cover;
  }
  .feature-box4{
    background-image: linear-gradient(to right bottom,rgba(85, 197, 118, 0.1), rgba(126, 213, 111, 0.2), rgba(40, 180, 133, 0.3) ), url("images/wheel.jpg");
    background-position: center;
    background-size: cover;
  }

  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
    .composition {
      position: relative; }
      .composition_photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        outline-offset: 1rem;
        transition: all .2s; }
        .composition_photo--p1 {
          height: 14rem;
          left: 0;
          top: -1.5rem; }
        .composition_photo--p2 {
          right: 0;
          top: 2rem; }
        .composition_photo--p3 {
          height: 14rem;
          left: 20%;
          top: 12rem; }
        .composition_photo:hover {
          outline: 1.5rem solid #55c576;
          transform: scale(1.05);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          z-index: 20; }
      .composition:hover .composition_photo:not(:hover) {
        transform: scale(0.95); }
      .heading-primary-sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 0.5rem;
        animation-name: moveinright;
        animation-duration: 4s; }
            .section-about {
              color: black;
                background-color: #f6eeeef7;
                height: 40rem;
                padding: 2rem 0;
                text-align: center;
                }
                .row {
                  max-width: 180rem;
                  margin: 0 auto;
                  padding: 5rem; }
                  .row:not(:last-child) {
                    margin-bottom: 6rem; }
                  .row::after {
                    content: "";
                    display: table;
                    clear: both; }
                  .row [class^="col-"] {
                    width: calc((100% - 2rem) /2);
                    float: left; }
                    .row [class^="col-"]:not(:last-child) {
                      margin-right: 2rem; }
                  .row .col-1-of-2 {
                    margin-top: 4rem; }
                   .row .col-1-of-3 {
                      width: calc((100% - 2 * 2rem) / 3); }
                      .row .col-1-of-4 {
                        width: calc((100% - 3 * 2rem) / 4); }
                .what-we-do {
                   background-image: url("images/shutter.jpg");
                    height: 60rem;
                    padding: 4rem 2rem;
                    background-repeat: no-repeat;
                    text-align: center;
                    background-position: center;
                   background-size: 100%;
                    }
            
              .footer{
                background-image: linear-gradient(to right bottom, rgba(198, 83, 83, 0.4), rgba(172, 57, 57, 0.5), rgba(153, 51, 51, 0.6)), url("./images/footer-2.jpg"); 
               height: 35rem;
               margin-top: 3px;
               background-position: center;
               background-size: 100%;
    }
    ul{
      padding: 0px;
             overflow: hidden;
                 margin: 0px;
                      list-style-type: none;
                          background-color: whitesmoke;
                          letter-spacing: 0.5rem;
                    
 }
 li{
     float: right;
 }
 li a{
     display: block;
         padding: 4px;
             color: black;
             text-decoration: none;
 }
 a:hover{
     background-color:darkslategrey;
 }
 .container{
   margin: 0 auto;
 }
 body[class^="section"]{
   height: 120vh;
 }
              
    